<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3605firstscientists">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.3605FirstScientists">
        <activity android:name=".activities.Blogs"></activity>
        <activity android:name=".UpdatedLearnActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Login"></activity>
        <activity android:name=".activities.Register" />
        <activity android:name=".ActionPlanActivity" />
        <activity android:name=".ClimateActivity" />
        <activity android:name=".ReconciliationActivity" />
        <activity android:name=".StoriesActivity" />
        <activity android:name=".CommunitiesActivity" />
        <activity android:name=".Donate" />
        <activity android:name=".MapActivity" />
        <activity android:name=".activities.Post" />
        <activity android:name=".AddActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".LearnActivity" />
        <activity android:name=".HomeActivity" />

        <service
            android:name=".GeocodeAddressIntentService"
            android:exported="false" />
    </application>

</manifest>